{%extends 'blogs/base.html'%}
{%block aboutactive%} active{%endblock aboutactive%}
{%block content%}
<div class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-0 mx-auto flex-column mt-0">

    <main class="px-1 py-0">
      <h1>SHort on Time</h1>
      <p class="lead mb-0">No Worries, get going with our <code>sweet and short</code> insightful blogging community!
      </p>
      <p class="lead mb-0">Express yourself and Explore others - Share your Views and seek others'</p>
      <p class="lead my-2">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: black;">Learn more</a>
      </p>
    </main>
  </div>
</div>
{%endblock content%}